In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../raw_data/df_10K_nhb_all.csv", dtype='str')

In [3]:
df

,Unnamed: 0,documents_0_id,documents_0_title,documents_0_source,documents_0_path,documents_0_content,documents_0_lastModifiedDate,documents_0_metadata_rootsUuid,documents_0_metadata_date_period,documents_0_metadata_collection_of,...,documents_0_tags_subject_29,documents_0_tags_subject_30,documents_0_tags_subject_31,documents_0_tags_subject_32,documents_0_tags_subject_33,documents_0_tags_geobuildings_5,documents_0_tags_geobuildings_6,documents_0_tags_geobuildings_7,documents_0_metadata_scale_type,documents_0_metadata_material_5
0,0,47E60712-DB30-42AE-BFDF-3C4918065A91,"Handbill for the Cantonese movie, â€˜Peach Bloss...",roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,This handbill was used to advertise the Canton...,04/08/2021,47e60712db3042aebfdf3c4918065a91,1958,National Museum of Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,C13CCAE3-921C-4C4C-881F-E4AE4591F4F6,Abstract Series,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,"Born in 1934 in Singapore, Chieu Shuey Fook gr...",04/08/2021,c13ccae3921c4c4c881fe4ae4591f4f6,1998,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,496F5795-5F20-4C9D-B63C-F21E3E187F92,Profile - Girl with ribbon,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,Tay Boon Pin (b.1936) received training at NAF...,06/08/2021,496f57955f204c9db63cf21e3e187f92,1963,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,30C350D9-CDA3-41FB-AE7A-220CE268751B,Farmer,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,"Born in Fujian Province, Liu Kang (1911-2004) ...",04/08/2021,30c350d9cda341fbae7a220ce268751b,1987,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,DF923BAB-1130-4F18-8C0B-C9A428D5151E,Untitled,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,"Tan Teng-Kee was born in Batu Pahat, Johor, Ma...",06/08/2021,df923bab11304f188c0bc9a428d5151e,1977,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,4375,03FBF731-B9AE-44D2-BAC1-2533B34CDDEE,Ceremonial bag,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,NaN,04/08/2021,03fbf731b9ae44d2bac12533b34cddee,Early 20th century,Asian Civilisations Museum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4376,4376,F3085CA6-B148-4954-98D7-00F9B5C4FE3B,Miniature seal with monkey,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,This uncut seal has a carved monkey seated on ...,25/01/2022,f3085ca6b148495498d700f9b5c4fe3b,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4377,4377,C5342626-5143-4CE4-8A18-FF028442A40B,Ornament,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,This silver gilt ornament would have been sewn...,04/08/2021,c534262651434ce48a18ff028442a40b,Early 20th century,Asian Civilisations Museum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,4378,38892231-F5E8-4E6F-A53C-53CF8CC3E132,Not titled (Tea vendor),roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,"Nguyen Trung was born in in 1940, in Soc Trang...",06/08/2021,38892231f5e84e6fa53c53cf8cc3e132,1963,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4379,4379,B43D8709-0104-4EEC-963A-6A5E9760981C,Caucasian Lady in Red Dress,roots_collections,https://www.roots.gov.sg/Collection-Landing/li...,"Born in Fujian Province, Liu Kang (1911-2004) ...",04/08/2021,b43d870901044eec963a6a5e9760981c,1961,National Gallery Singapore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum().sum()

800421

In [ ]:
import pandas_profiling
df.profile_report()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df.isna().sum()/len(df)

Unnamed: 0                         0.000000
documents_0_id                     0.001826
documents_0_title                  0.001826
documents_0_source                 0.001826
documents_0_path                   0.001826
                                     ...
documents_0_tags_geobuildings_5    0.999543
documents_0_tags_geobuildings_6    0.999543
documents_0_tags_geobuildings_7    0.999543
documents_0_metadata_scale_type    0.999772
documents_0_metadata_material_5    0.999772
Length: 223, dtype: float64

In [21]:
df['documents_0_metadata_creator'].isna().sum()/len(df)

0.4785388127853881

In [22]:
df['documents_0_tags_person_0'].isna().sum()/len(df)

0.5004566210045662

In [40]:
df[['documents_0_metadata_creator', 'documents_0_tags_person_0']]

     documents_0_metadata_creator documents_0_tags_person_0
0                             NaN                       NaN
1                Chieu Shuey Fook         Chieu, Shuey Fook
2                    Tay Boon Pin             Tay, Boon Pin
3                        Liu Kang                 Liu, Kang
4                    Tan Teng Kee             Tan, Teng Kee
...                           ...                       ...
4375                          NaN                       NaN
4376                          NaN                       NaN
4377                          NaN                       NaN
4378                 Nguyen Trung              Nguyen Trung
4379                     Liu Kang                 Liu, Kang

[4380 rows x 2 columns]

In [27]:
df['que'] = df['documents_0_metadata_creator'][(df['documents_0_metadata_creator'] >= df['documents_0_tags_person_0'])]

In [28]:
df['que']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
4375             NaN
4376             NaN
4377             NaN
4378    Nguyen Trung
4379             NaN
Name: que, Length: 4380, dtype: object

In [35]:
df['documents_0_metadata_creator'].compare(df['documents_0_tags_person_0'])

                  self              other
1     Chieu Shuey Fook  Chieu, Shuey Fook
2         Tay Boon Pin      Tay, Boon Pin
3             Liu Kang          Liu, Kang
4         Tan Teng Kee      Tan, Teng Kee
5           Arthur Yap        Yap, Arthur
...                ...                ...
4366    Georgette Chen    Chen, Georgette
4368        Ang Ah Tee        Ang, Ah Tee
4371      Lim Tze Peng      Lim, Tze Peng
4374        Ang Ah Tee        Ang, Ah Tee
4379          Liu Kang          Liu, Kang

[1647 rows x 2 columns]

In [36]:
df['documents_0_tags_organisation_0'].isna().sum()/len(df)

0.7111872146118722

In [39]:
df['documents_0_content'].isna().sum()/len(df)

0.2636986301369863