In [ ]:
import pandas as pd
import numpy as np
from urllib.request import Request, urlopen
from sklearn.pipeline import Pipeline

%load_ext autoreload

# Load the data

We need to remove duplicates and NA, look for outliers.

In [ ]:
df_yourpaintings = pd.read_csv("https://www.robots.ox.ac.uk/~vgg/data/paintings/painting_dataset_2021.csv")

# Explore the data

In [3]:
len(df_yourpaintings)

8629

In [4]:
df_yourpaintings.describe()

,Image URL,Web page URL,Subset,Labels
count,8453,8608,8629,8629
unique,8261,8416,3,89
top,https://d3d00swyhr67nd.cloudfront.net/w1200h12...,https://artuk.org/discover/artworks/richard-je...,'test',' boat'
freq,193,193,4301,1962

# Clean up data by dropping duplicates and missing data

In [5]:
df_yourpaintings.duplicated().sum()

156

In [6]:
df_yourpaintings = df_yourpaintings.drop_duplicates()
df_yourpaintings.describe()

,Image URL,Web page URL,Subset,Labels
count,8302,8457,8473,8473
unique,8261,8416,3,89
top,https://d3d00swyhr67nd.cloudfront.net/w1200h12...,https://artuk.org/discover/artworks/richard-je...,'test',' boat'
freq,42,42,4224,1921

In [7]:
len(df_yourpaintings)

8473

In [8]:
(df_yourpaintings.isnull().sum()/len(df_yourpaintings))*100

Image URL       2.018175
Web page URL    0.188835
Subset          0.000000
Labels          0.000000
dtype: float64

In [9]:
df_yourpaintings = df_yourpaintings.dropna()

In [10]:
len(df_yourpaintings)

8302

In [11]:
df_yourpaintings.describe()

,Image URL,Web page URL,Subset,Labels
count,8302,8302,8302,8302
unique,8261,8261,3,89
top,https://d3d00swyhr67nd.cloudfront.net/w1200h12...,https://artuk.org/discover/artworks/richard-je...,'test',' boat'
freq,42,42,4132,1871

For rows with working links, save image to desired path and save `filename` in a column. Then drop rows with inaccessible URLS/images.

In [ ]:
for index, row in df_yourpaintings.iterrows():
    url = row["Image URL"]
    req = Request(url)
    try:
        response = urlopen(req)
    except:
        df_yourpaintings.drop(labels=index, inplace=True, axis=0)

In [ ]:
df_yourpaintings.describe()

# Build the preprocessing pipe

First load the image data.

In [ ]:
def get_data():
    """method to get the training data (or a portion of it) from google cloud bucket"""
    df = pd.read_csv(f"gs://{BUCKET_NAME}/{BUCKET_TRAIN_DATA_PATH}", nrows=1000)
    return df

In [13]:
preprocessing_pipe =

SyntaxError: invalid syntax (3226722706.py, line 1)

For images, apply the following standard preprocessing:
* Resize
* Crop
* Rotate
* Compression
* Grayscale: Optional

Other steps that may apply:
* Perform data augmentation
* Normalise data by / 255

# Scaling functions

# Sampling

# Encoding